

.dropdown-menu {
    outline-style: double;
    outline-width: 0.5rem;
    text-align: left;
    
}

.carousel-item {
    height: 750px;
}

.jumbotron {
    text-align: center;
    font-size: 20px;
}
.heading {
    text-align: center;
    font-size: 200px;
    color: #b30000; 
}

.sidenav {
    text-align: center;
    font-size: 30px;
    color: #b30000; 
}
input[type=text], select, textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #b30000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #4d79ff;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 10px;

  }
  